@import '/src/css/global.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.navbarSection {
  margin: 0;
  padding: 0;
  font-family: "montserrat";
}

.navbar {
  padding: 1em;
}
.navbar .logoimage {
  height: 30px;
  width: 90px;
}
.navbar .logoimage img {
  width: 100%;
}
.navbar nav {
  display: none;
}
.navbar .container {
  display: flex;
  place-content: space-between;
  margin: 1em 5%;
}
.navbar .mobile-menu {
  cursor: pointer;
  width: 1.5em;
}

a {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.menu-button {
  display: block;
  background: linear-gradient(279.22deg, rgba(153, 153, 153, 0.28) 7.79%, rgba(0, 0, 0, 0.1624) 133.84%);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  box-shadow: 0px 4px 41px 7px rgba(0, 0, 0, 0.25);
}

nav {
  position: fixed;
  z-index: 999;
  width: 40%;
  right: 0;
  top: 0;
  height: 100vh;
  padding: 1em;
}
nav ul {
  padding-top: 5em;
}
nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
  width: 106px;
}
nav li a:hover {
  font-weight: bold;
  transition: 0.3s;
}

.mobile-menu-exit {
  margin-bottom: 5em;
  float: right;
  margin: 0.5em;
  cursor: pointer;
  margin-top: 1.5em;
}

@media only screen and (min-width: 840px) {
  .mobile-menu,
.mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: space-between;
    height: 70px;
    margin-top: 1.5em;
  }
  .navbar .container .logoimage {
    height: 30px;
    width: 8em;
  }
  .navbar .container .logoimage img {
    width: 100%;
  }
  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 1em 0 0 0;
    font-size: 1.2em;
  }
  .navbar nav ul {
    display: flex;
  }
  .navbar nav a {
    font-size: 1em;
    padding: 0.1em 1em;
    position: relative;
  }
  .navbar nav ul {
    margin-top: 0;
    padding: 0;
  }
}
.container-hero {
  background-image: url(/public/heroBackground.svg);
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section .container {
  padding: 10% 10% 10% 10%;
  display: flex;
  flex-direction: column;
  color: white;
}
.hero-section .container .hero-title h1 {
  font-size: 3em;
  font-weight: 300;
}
.hero-section .container .sinhala-font-container {
  padding: 0.5rem 0 1rem 0;
}
.hero-section .container .sinhala-font-container img {
  width: 55%;
}
.hero-section .container .content {
  font-size: 0.8rem;
}
.hero-section button {
  margin-top: 2em;
  background: linear-gradient(93.97deg, #d9d9d9 -173.88%, rgba(217, 217, 217, 0) 214.31%);
  width: 180px;
  height: 50px;
  border-radius: 10px;
  color: white;
  outline: none;
  border: none;
  font-size: 1em;
}

.intro {
  height: 1080px;
}

@media only screen and (min-width: 500px) {
  .hero-section .container {
    padding: 8% 10% 10% 10%;
    display: flex;
    flex-direction: column;
    color: white;
  }
  .hero-section .container .hero-title h1 {
    font-size: 8em;
    font-weight: 300;
  }
  .hero-section .container p {
    font-size: 1rem;
  }
  .hero-section .container .container-hero {
    background-image: url(/public/heroBackground.svg);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-section .container .sinhala-font-container {
    padding: 0.5rem 0 1rem 0;
  }
  .hero-section .container .sinhala-font-container img {
    width: 25em;
  }
}
@media only screen and (max-width: 500px) {
  .container-hero {
    height: 80vh;
  }
}/*# sourceMappingURL=index.css.map */