@import url(/src/css/global.css);
@import url(/src/footer/footer.css);
@import url(/src/navBar/navBar.css);


body{
    background-color: #000000;
}

.container{
    background:#000000;
}

.developers{
    max-width: 1300px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.row1{
    text-align: left;
    display: flex;
    justify-content: space-around;
    color: white;
}

.row1-col1{
    font-size: 60px;
    font-weight: 250;
    flex-basis: 50%;
    min-width: 300px;
    text-align: left;
    padding-top: 50px;
    margin: 25px 25px;
}

.row1-col1 span{
    font-weight: 500;
}

.row1-col2{
    flex-basis: 50%;
    font-size: 15px;
    padding-top: 170px;
    padding-left: 100px;
    text-align: left;
}

.row2{
    min-width: 300px;
    height: 80vh;
    align-items: center;
    text-align: center;
    background: url(../../public/ourteampic.svg);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5%;
}

.row2 img{
    max-width: 100%;
    padding: 25px 25px;
    width: 1700px;
}

.hr{
    width: 80%;
    height: 1px;
    border: 0 none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: white;
}

.row4{
    text-align: left;
    display: flex;
    justify-content: space-around;
    color: white;
}

.row4-col1{
    flex-basis: 50%;
    text-align: left;
    padding-top: 50px;
}

.topic{
    font-size: 60px;
    font-weight: 250;
    flex-basis: 50%;
    text-align: left;
    padding: 25px 25px;
}

.topic span{
    font-weight: 500;
}

.description{
    font-size: 15px;
    font-weight: 250;
    flex-basis: 50%;
    text-align: left;
    margin: 25px 25px;
}

.button1 button{
    background: linear-gradient(93.97deg, #D9D9D9 -173.88%, rgba(217, 217, 217, 0) 214.31%);
    border-radius: 10px;
    width: 180px;
    height: 50px;
    font-weight: normal;
    font-size: 16px;
    margin-top: 10px;
    margin: 25px 25px;
    justify-content: center;
    border: none;
}

.button1 button a{
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
}

.row4-col2{
    flex-basis: 50%;
    margin: 25px 25px;
    min-width: 300px;
    text-align: right;
}

.row4-col2 img{
    padding-top: 100px;
    max-width: 100%;
    width: 500px;
    text-align: right;
}

.row5{
    width: 80vw;
    align-items: center;
    text-align: center;
}

.container2{
    width: 1150px;
    height: 784px;
    background: #FFFFFF;
    border-radius: 20px;
    margin: 150px 25px 25px 25px;
    text-align: center;
    display: flex;
}

.row5-col1{
    flex-basis: 50%;
    text-align: left;
    padding-top: 50px;
}

.containertopic{
    font-size: 60px;
    font-weight: 600;
    flex-basis: 50%;
    text-align: left;
    padding-left: 100px;
    padding-top: 70px;
    color:black;
}

.containerdescription{
    font-size: 15px;
    font-weight: 600;
    flex-basis: 50%;
    text-align: left;
    padding-top: 35px;
    padding-left: 100px;
}

.button2{
    padding-left: 100px;
    padding-top: 50px;
}

.button2 button{
    background: linear-gradient(93.66deg, #000000 -109.29%, rgba(46, 46, 46, 0.56) 298.88%);
    border-radius: 10px;
    width: 180px;
    height: 50px;
    font-weight: normal;
    font-size: 16px;
    margin-top: 10px;
    justify-content: center;
    border: none;
}

.button2 button a{
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
}

.row5-col2{
    flex-basis: 50%;
    text-align: right;
    padding-top: 35px;
    padding-right: 25px;
}


@media (max-width: 991px){
    .developers{
        padding: 40px;
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 768px){
.row1{
    flex-direction: column;
    padding-left: 5%;
}

.row1-col1{
    font-size: 2rem;
    padding-top: 0;
    margin-left: 0;
}

.row1-col2{
   padding-top: 0;
   padding-left: 0;
}

.row2{
    height: 40vh;
    padding: 5%;
}


    .developers{
        grid-template-columns: repeat(1,1fr);
        padding: 0;
    }
    .hr{
        width: 90%;
    }

    .row4{
        flex-direction: column;
    }

    .topic{
        font-size: 2rem;
    }

    .row4-col2{
        display: none;
    }

    .row5{
        width: 80vw;
    }

    .row5-col1{
        width: auto;
    }

    .container2{
        width: 80vw;
    }
    .containertopic{
        font-size: 2rem;
        padding-left: 6%;
        width: 130%;
    }
    .containerdescription{
        padding-left: 6%;
        width: 130%;
    }

    .button2{
        padding-left: 6%;
    }

   

    .row5-col2{
        display: none;
    }
}

