@import url(./../global.css);
@import url(./../navBar/navBar.css);
@import url(./../footer/footer.css);

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-weight: lighter;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.cover{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.History{
    position: absolute;
    padding-left: 175px;
    padding-right: 175px;
    text-align: center;
    color: #ffffff;
    font-size: 96px;
    font-weight: bold;
}

.row1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

.row1-col1{
    flex-basis: 50%;
    min-width: 300px;
    align-items: center;
    text-align: left;
}

.description1{
    padding-top: 15px;
    padding-bottom: 25px;
    font-weight: 600;
    font-size: 15px;
}

.row1-col2{
    flex-basis: 50%;
    min-width: 300px;
    align-items: center;
    text-align: right;
}

.row1-col2 img{
    max-width: 100%;
    padding: 50px 0;
    width: 550px;
}

.row2{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

.row2-col1{
    flex-basis: 50%;
    min-width: 300px;
    align-items: center;
    text-align: left;
}

.row2-col2{
    flex-basis: 50%;
    min-width: 300px;
    align-items: center;
    text-align: left;
}

.description2{
    padding-top: 15px;
    padding-bottom: 25px;
    font-weight: 600;
    font-size: 15px;
    padding-left: 50px;
}

.row3{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

.row3-col1{
    flex-basis: 50%;
    min-width: 300px;
    align-items: center;
    text-align: left;
}

.description3{
    padding-top: 15px;
    padding-bottom: 25px;
    font-weight: 600;
    font-size: 15px;
}

.row3-col2{
    flex-basis: 50%;
    min-width: 300px;
    align-items: center;
    text-align: right;
}

.row3-col2 img{
    max-width: 100%;
    padding: 50px 0;
    width: 550px;
}

.row4{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

.row4-col1{
    flex-basis: 50%;
    min-width: 300px;
    align-items: center;
    text-align: left;
}

.row4-col2{
    flex-basis: 50%;
    min-width: 300px;
    align-items: center;
    text-align: left;
}

.description4{
    padding-top: 15px;
    padding-bottom: 25px;
    font-weight: 600;
    font-size: 15px;
    padding-left: 50px;
}