@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container-card{
    font-family: 'Montserrat';
    min-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../public/gallerySectionimg.svg');
    background-repeat: no-repeat;
    background-position: center;

}


.container-card .card{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    width: 350px;
    height: 400px;
    margin: 30px;
    box-shadow: 0px 4px 41px 7px rgba(0, 0, 0, 0.25);
    background: linear-gradient(279.22deg, rgba(153, 153, 153, 0.28) 7.79%, rgba(0, 0, 0, 0.1624) 133.84%);
    border-radius: 16px;
    backdrop-filter: blur(25px);
    padding: 30px;
    border: 0.5px solid white;
    position: relative;
}



.container-card .card h3{
    color: white;
    font-weight: 300;
    font-size: 3rem;
    margin: 0;
}



.container-card .card p{
    color: white;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}



.container-card .card button{
    background: linear-gradient(93.97deg, #D9D9D9 -173.88%, rgba(217, 217, 217, 0) 214.31%);
    width: 180px;
    height: 50px;
    border-radius: 10px;
    color: white;
    outline: none;
    border: none;
    font-size: 1rem;
}

.container-card .card button:hover{
    cursor: pointer;
    
}

.gallery-images{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
    
   
}

.item{
    background-color: lightblue;
    padding: 1rem;
    border: 1px solid blue;
}

.item1{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.item1 img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.item2{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.item2 img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.item3{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.item3 img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.item4{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.item4 img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.item5{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.item5 img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.item6{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.item6 img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

@media screen and (max-width: 480px) {
    .container-card .card{
       width: 65vw;
       height: 38vh;
    }

    .container-card .card p{
        font-size: 0.7rem;
    }
    .container-card .card h3{
        font-size: 2rem;
    }
    .container-card .card button{
        width: 144px;
        height: 42px;
        font-size: 1rem;
        border-radius: 6px;
    }
  }