
    <div class="container-card">
        <div class="card">
            <div class="card-content">
                <h3>See the real beauty</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi.</p>
                <button>View Gallery</button>
            </div>
        </div>
        <!-- <div class="gallery-images">
            <div class="item item1"><img src="../../public/1.svg" alt=""></div>
            <div class="item item2"><img src="../../public/2.svg" alt=""></div>
            <div class="item item3"><img src="../../public/3.svg" alt=""></div>
            <div class="item item4"><img src="../../public/4.svg" alt=""></div>
            <div class="item item5"><img src="../../public/5.svg" alt=""></div>
            <div class="item item6"><img src="../../public/6.svg" alt=""></div>
        </div> -->

        <!-- <div class="gallery-img">
            <img src="../../public/gallerySectionimg.svg" alt="">
        </div> -->

    </div>

    



