@import url(../global.css);

.row3-img{
    background-image: url(../../public/quotepic.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}


.quote{

    justify-content: center;
    text-align: center;
    color: #ffffff;
    
}

.quote-para{
    font-size: 2.5rem;
    font-weight: 200;
}

.quote-author{
    font-size: 1rem;
    font-weight: 500;
    padding-top: 40px;
}

@media (max-width: 768px){
    .row3-img{
        width: 100vw;
        height: 60vh;
    }

    .quote-para {
        font-size: 1.4rem !important;
        line-height: 2rem;
        text-align: center;
        color: #ffffff;
        padding: 20px;
 
    }

    .quote-author{
        font-size: smaller;
        font-weight: 500;
        padding-top: 40px;
    }
    
}