<div class="row3-img">
    <div class="quote">
        <div class="quote-para">
            <span>“The temple is a point of intersection between heaven <br> and earth.
                In this sacred place, holy work will be <br> performed through selfless
                service and love. The temple <br> reminds of all that is good and beautiful
                in the world.”</span>
        </div>
        <div class="quote-author">
            <span>David A. Bednar</span>
        </div>
    </div>