@import "/src/css/global.css";
@import "../navBar/navBar.css";

// Hero Section

marquee{
  width: 100vw;
  height: 44px;
  background: linear-gradient(93.73deg, #1D3B50 -9.06%, #0C4369 97.83%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
}

@media (max-width: 600px) {
  marquee{
    font-size: medium;
  }
}



.hero-section {
  background-image: url(/public/Hero-Image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 8.33%;
  padding-left: 8.33%;
  padding-bottom: 288px;

  a{
    text-decoration: none;
  }
}

.hero-content {
  margin-top: 157px;
}

.english-title {
  font-size: 8.85vw;
  font-weight: 300;
  color: white;
}

.sinhala-title,
.content {
  margin-top: 24px;
}

.sinhala-title {
  width: 26.5%;
}

.content {
  width: 68%;
  font-size: 1em;
  font-weight: 300;
  color: white;
  line-height: normal;
}

.hero-button-text {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: 600;
}

.hero-button {
  background: linear-gradient(93.97deg, #D9D9D9 -173.88%, rgba(173, 173, 173, 0) 214.31%);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  width: 15%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 37px;
  text-align: center;
}

@media (max-width: 600px) {
  .hero-section {
    padding-bottom: 68px;
  }

  .hero-content {
    width: 100%;
    margin-top: 68px;
  }

  .english-title {
    font-size: 12.2vw;
    padding: 0 !important;
  }

  .sinhala-title,
  .content {
    margin-top: 10px;
  }

  .sinhala-title {
    width: 50%;
    padding-top: 0 !important;
    margin: 0 !important;
  }

  .content {
    width: 100%;
    font-size: 1em;
    font-weight: 400;
    color: white;
    line-height: normal;
    font-size: 1em;
  }

  .hero-button-text {
    font-size: 0.9em;
  }

  .hero-button {
    border-radius: 10px;
    width: 45%;
    padding: 0.9em 0.3em;
    margin-top: 32px;
    text-align: center;
  }

  p {
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin: 0 !important;
  }
}

// Intro Section

.intro-section-container {
  background-color: white;
  padding-top: 8.33%;
  padding-right: 15%;
  padding-left: 15%;
  padding-bottom: 8.33%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(400px, auto);
  gap: 4rem;

  button {
    background: linear-gradient(
      93.66deg,
      #000000 -109.29%,
      rgba(46, 46, 46, 0.56) 298.88%
    );
    border-radius: 10px;
    color: white;
    width: 30%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    border: none;
  }

  h3 {
    font-weight: 300;
    font-size: 4rem;
  }

  span {
    font-weight: 500;
  }

  p {
    font-weight: 300;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.intro-top-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.intro-top-right {
  background-image: url(../../public/intro-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .intro-coordinates-text {
    font-size: 2rem;
    padding: 0;
  }

  .intro-coordinates {
    font-size: 2rem;
    font-weight: 500;
  }
}

.intro-bottom-right {
}

@media (max-width: 600px) {
  .intro-section-container {
    grid-template-columns: 1fr;
    gap: 3px;
    padding-top: 20%;
    padding-bottom: 20%;

    .intro-top-left {
      margin-bottom: 4rem;
    }

    .intro-top-right {
      height: 300px;
    }

    .intro-bottom-left {
      height: 300px;
      align-items: center;
      align-content: center;
    }

    button {
      width: 50%;
      padding-top: 1em;
      padding-bottom: 1em;
      font-size: 0.8rem;
    }

    h3 {
      font-weight: 300;
      font-size: 2.5rem;
    }

    span {
      font-weight: 500;
    }

    p {
      font-weight: 300;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    .intro-coordinates-text {
      font-size: 1.5rem;
      padding: 0;
    }

    .intro-coordinates {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}

// quote section

.quote-section-container {
  display: flex;
  flex-direction: column;
  background-image: url(../../public/quote-pic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 700px;
  max-height: auto;
  padding: 2rem 10rem 2rem 10rem;
  color: white;
  justify-content: center;
  align-items: center;

  h3 {
    font-size: 3rem;
    font-weight: 300;
    color: white;
    text-align: center;
  }

  p {
    padding-top: 2rem;
    color: rgba(255, 255, 255, 0.66);
  }
}

@media (max-width: 600px) {
  .quote-section-container {
    padding: 1rem 5rem 1rem 5rem;

    h3 {
      font-size: 1.6rem;
      font-weight: 300;
      color: white;
      text-align: center;
    }

    p {
      padding-top: 2rem;
      color: rgba(255, 255, 255, 0.66);
    }
  }
}

//gallery section

.container-card{
  font-family: 'Montserrat';
  min-width: 100vw;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../public/gallery-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5rem;
  margin-bottom: 5rem;

  .card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 350px;
    height: 400px;
    margin: 30px;
    box-shadow: 0px 4px 41px 7px rgba(0, 0, 0, 0.25);
    background: linear-gradient(279.22deg, rgba(153, 153, 153, 0.28) 7.79%, rgba(0, 0, 0, 0.1624) 133.84%);
    border-radius: 16px;
    backdrop-filter: blur(18px);
    padding: 30px;
    border: 0.5px solid white;

    h3{
      color: white;
      font-weight: 300;
      font-size: 3rem;
      margin: 0;
    }
    p{
      color: white;
      font-weight: 400;
      margin-top: 50px;
      margin-bottom: 50px;
      padding-left: 30px;
      padding-right: 30px;
    }
    button{
      background: linear-gradient(93.97deg, #D9D9D9 -173.88%, rgba(217, 217, 217, 0) 214.31%);
      width: 180px;
      height: 50px;
      border-radius: 10px;
      color: white;
      outline: none;
      border: none;
      font-size: 1rem;
    }
  }

}

.container-card .card button:hover{
  cursor: pointer;
}



//footer

.footer-main-div{
  margin: 0;
  padding: 0;
  color: white;
  font-weight: lighter;
  box-sizing: border-box;
  display: grid;
  align-content: end;
  width: 100vw;
  font-weight: 400;
}



footer{
  background: linear-gradient(to right, #0D0D0D, #000000);
  position: relative;
  width: 100%;
  padding: 50px 50px;
  height: auto;
  
}

footer .container-div{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.logosec-part1{
  flex-basis: 20%;
  justify-content: center;
  text-align: center;
}

.mainlogo{
  width: 60%;
}

.logosec-part2{
  width: 100%;
  height: 15px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  justify-content: center;
  text-align: center;
}

.menusec{
  font-size: 15px;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.menusec li{
  list-style: none;
}

.menusec li a{
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  transition: all 0.3s;
}

.menusec li a:hover{
  padding-left: 8px;
}

.contactinfo{
  position: relative;
  display: grid;
  justify-content: center;
}

.contactinfo li{
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}

.contactinfo li span{
  font-size: 15px;
}

.contactinfo a{
  font-size: 15px;
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}

.contactinfo a:hover{
  padding-left: 8px;
}

.buttonsec{
  text-align: center;
}

.buttonsec-part1{
  text-align: right;
  font-size: 15px;
  padding-right: 15px;
  justify-content: right;
}

.buttonsec-part2{
  text-align: right;
  padding-right: 15px;
  font-size: 20px;
  justify-content: right;
  font-weight: normal;
}

.buttonsec-part2 button{
  background: linear-gradient(93.97deg, #D9D9D9 -173.88%, rgba(217, 217, 217, 0) 214.31%);
  border-radius: 10px;
  width: 204px;
  height: 48px;
  font-weight: normal;
  color: #ffffff;
  font-size: 16px;
  margin-top: 10px;
  justify-content: center;
  border: none;
  outline: none;
}

.buttonsec-part2 button a{
  text-decoration: none;
  font-weight: normal;
  color: white;
}

.copyright{
  background-color: #000000;
  width: 100%;
  padding: 20px 0 20px;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
  line-height: 10px;
  position: relative;
}


.allright{
  text-align: left;
}

.privacypolicy{
  text-align: right;
}


@media (max-width: 991px){
  footer{
      padding: 40px;
  }
  footer .container-div{
      grid-template-columns: repeat(2,1fr);   
  }

  .copyright{
      padding: 8px 40px;
      display: flex;
      flex-direction: column;
  }

}

@media (max-width: 768px){
  footer .container-div{
      grid-template-columns: repeat(1,1fr);
      text-align: center;
  }
  .buttonsec-part1{
      text-align: center;
  }
<<<<<<< HEAD
  
}

//very small screen sizes

@media only screen and (max-width:839px) and (max-height:785px){

  .container-hero{
    height: 110vh;
  }

  .intro{
    min-height: 250vh;
  }

}

@media only screen and (max-width:839px) and (max-height:640px){
  .intro{
    min-height: 290vh;
  }

  .row3-img{
    height: 110vh;
  }

}
=======
  .buttonsec-part2{
      text-align: center;
  }
  .allright{
      text-align: center;
  }
  .privacypolicy{
      text-align: center;
  }
}



@media(max-width: 767px){
  .footer-col2{
      width: 50%;
      margin-bottom: 30px;
  }
}



@media(max-width: 767px){
  .footer-col3{
      width: 50%;
      margin-bottom: 30px;
  }
}



@media(max-width: 767px){
  .footer-col4{
      width: 50%;
      margin-bottom: 30px;
  }
}



@media(max-width: 767px){
  .footer2{
      width: 50%;
  }
}

@media(max-width: 574px){
  .footer2{
      width: 100%;
  }
}








>>>>>>> c34113fd3f7cb3adba69ee6b71d5b29e92356545
