@import '/src/css/global.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    overflow-x: hidden;
}


// navBar Section


.navbarSection{
  margin: 0;
  padding: 0;
  font-family: "montserrat";
}

.navbar {
  padding: 1em;

  .logoimage {
    height: 30px;
    width: 90px;

    img {
      width: 100%;
    }
  }

  nav {
    display: none;
  }

  .container {
    display: flex;
    place-content: space-between;
    margin: 1em 5%;
  }

  .mobile-menu {
    cursor: pointer;
    width: 1.5em;
  }
}

a {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.menu-button {
  display: block;
  background: linear-gradient(279.22deg, rgba(153, 153, 153, 0.28) 7.79%, rgba(0, 0, 0, 0.1624) 133.84%);
  backdrop-filter: blur(25px);
  box-shadow: 0px 4px 41px 7px rgba(0, 0, 0, 0.25);
}

nav {
  position: fixed;
  z-index: 999;
  width: 40%;
  right: 0;
  top: 0;

  height: 100vh;
  padding: 1em;

  ul {
    padding-top: 5em;
  }

  li {
    a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 0.5em;
      font-size: 1.3em;
      text-align: right;
      width: 106px;

      &:hover {
        font-weight: bold;
        transition: 0.3s;
      }
    }
  }
}

.mobile-menu-exit {
  margin-bottom: 5em;
  float: right;
  margin: 0.5em;
  cursor: pointer;
  margin-top: 1.5em;
}

@media only screen and (min-width: 840px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: space-between;
    height: 70px;
    margin-top: 1.5em;

    .logoimage {
      height: 30px;
      width: 8em;
      // margin-left: 3em;

      img {
        width: 100%;
      }
    }
  }

  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 1em 0 0 0;
    // margin-right: 3em;
    font-size: 1.2em;

    ul {
      display: flex;
    }

    a {
      font-size: 1em;
      padding: 0.1em 1em;
      position: relative;
    }

    ul {
      margin-top: 0;
      padding: 0;
    }
  }
}


// Hero Section

.container-hero{
    background-image: url(/public/Hero-Image.png);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section {

  .container {
    padding: 10% 10% 10% 10%;
    display: flex;
    flex-direction: column;
    color: white;

    .hero-title {
      h1 {
        font-size: 3em;
        font-weight: 300;
      }

    }
    
    .sinhala-font-container{

      padding: 0.5rem 0 1rem 0;

        img{
            width: 55%;
        }
    }

    .content {
      font-size: 0.8rem;
      
    }
  }

  button {
    margin-top: 2em;
    background: linear-gradient(
      93.97deg,
      #d9d9d9 -173.88%,
      rgba(217, 217, 217, 0) 214.31%
    );
    width: 180px;
    height: 50px;
    border-radius: 10px;
    color: white;
    outline: none;
    border: none;
    font-size: 1em;
  }
}

.intro{
    height: 1080px;
    
}

@media only screen and (min-width: 500px)
{
    .hero-section {

        .container {
            padding: 8% 10% 10% 10%;
            display: flex;
            flex-direction: column;
            color: white;
        
            .hero-title {
              h1 {
                font-size: 8rem;
                font-weight: 300;
              }
            }
        
            p {
              font-size: 1rem;
            }

            .container-hero{
              background-image: url(/public/Hero-Image.png);
              width: 100vw;
              height: 100vh;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
          }

          .sinhala-font-container{

            padding: 0.5rem 0 1rem 0;
      
              img{
                  width: 25em;
              }
          }
    
            
          }
    }
}

@media only screen and (max-width: 500px){
    .container-hero{
      height: 80vh;
    }
}

@media only screen and (max-width: 1367px ) and (min-width:500px){

  .hero-section{

    .container{
      padding-top: 1%;

      .hero-title{
        h1{
          font-size: 5rem;
        }
        
      }

      .sinhala-font-container{

        img{

          width: 16em;
        }
      }
    }

  }

}


// Intro Section 

.intro{
  max-width: 1300px;
  min-height: 100vh;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 4rem;
}

.introsection{
  padding: 0;
  margin: 0;
}

.topic1{
  font-size: 60px;
}

.topic1-part1{
  font-weight: 500;
}

.topic1-part2{
  font-weight: 300;
}

.description1{
  padding-top: 15px;
  padding-bottom: 25px;
  font-weight: 400;
  font-size: 15px;
}

.button1 button{
  background: linear-gradient(93.66deg, #000000 -109.29%, rgba(46, 46, 46, 0.56) 298.88%);
  border-radius: 10px;
  width: 180px;
  height: 50px;
  font-weight: normal;
  font-size: 16px;
  margin-top: 10px;
  justify-content: center;
  border: none;
}

.button1 button a{
  text-decoration: none;
  font-weight: normal;
  color: #ffffff;
}

.row1{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.row1-col1{
  flex-basis: 50%;
  min-width: 300px;
  align-items: center;
  text-align: left;
}

.row1-col2{
  flex-basis: 50%;
  min-width: 300px;
  align-items: center;
  text-align: right;
}

.row1-col2 img{
  max-width: 100%;
  padding: 50px 0;
  width: 550px;
}

.row2{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.row2-col1{
  flex-basis: 50%;
  min-width: 300px;
  align-items: center;
  text-align: left;
}

.part1{
  font-weight: 400;
  font-size: 20px;
}

.part2{
  font-weight: 500;
  font-size: 32px;
}

.row2-col2{
  flex-basis: 50%;
  min-width: 300px;
  align-items: center;
  text-align: left;
}

.topic2{
  padding-top: 60px;
  font-size: 60px;
}



.topic2-part1 .one{
  font-weight: 300;
}


.topic2-part2{
  font-weight: 300;
}

.description2{
  padding-top: 15px;
  padding-bottom: 25px;
  font-weight: 400;
  font-size: 15px;
}

.button2 button{
  background: linear-gradient(93.66deg, #000000 -109.29%, rgba(46, 46, 46, 0.56) 298.88%);
  border-radius: 10px;
  width: 180px;
  height: 50px;
  font-weight: normal;
  font-size: 16px;
  margin-top: 10px;
  justify-content: center;
  border: none;
}

.button2 button a{
  text-decoration: none;
  font-weight: normal;
  color: #ffffff;
}




@media (max-width: 991px){
  .introsection{
      
     
  }
}

@media (max-width: 768px){
  .introsection{
     

  }
  .row2-col1{
      text-align: center;
  }
  
  
  .intro{
      justify-content: center;
      align-items: center;
      height: 200vh;
  }
}

@media only screen and (max-width: 1367px ) and (min-width:500px){

  .intro{
    padding-left: 120px;
    padding-right: 120px;
  }
  

}


// quote section

.row3-img{
  background-image: url(../../public/quotepic.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

}


.quote{

  justify-content: center;
  text-align: center;
  color: #ffffff;
  
}

.quote-para{
  font-size: 2.5rem;
  font-weight: 200;
}

.quote-author{
  font-size: 1rem;
  font-weight: 500;
  padding-top: 40px;
}

@media (max-width: 768px){
  .row3-img{
      width: 100vw;
      height: 60vh;
  }

  .quote-para {
      font-size: 1.4rem !important;
      line-height: 2rem;
      text-align: center;
      color: #ffffff;
      padding: 20px;

  }

  .quote-author{
      font-size: smaller;
      font-weight: 500;
      padding-top: 40px;
  }
  
}