@import '/src/css/global.css';
@import '../navBar/navBar.css';
.hero-section {
  background-image: url(/public/Hero-Image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 8.33%;
  padding-left: 8.33%;
  padding-bottom: 288px;
}

.hero-content {
  margin-top: 157px;
}

.english-title {
  font-size: 8.85vw;
  font-weight: 300;
  color: white;
}

.sinhala-title,
.content {
  margin-top: 24px;
}

.sinhala-title {
  width: 26.5%;
}

.content {
  width: 68%;
  font-size: 1em;
  font-weight: 300;
  color: white;
  line-height: normal;
}

.hero-button-text {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: 600;
}

.hero-button {
  background: linear-gradient(93.97deg, #D9D9D9 -173.88%, rgba(217, 217, 217, 0) 214.31%);
  border-radius: 10px;
  width: 15%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 37px;
  text-align: center;
}

@media (max-width: 600px) {
  .hero-section {
    padding-bottom: 68px;
  }
  .hero-content {
    width: 100%;
    margin-top: 68px;
  }
  .english-title {
    font-size: 12.2vw;
    padding: 0 !important;
  }
  .sinhala-title,
.content {
    margin-top: 10px;
  }
  .sinhala-title {
    width: 50%;
    padding-top: 0 !important;
    margin: 0 !important;
  }
  .content {
    width: 100%;
    font-size: 1em;
    font-weight: 400;
    color: white;
    line-height: normal;
    font-size: 1em;
  }
  .hero-button-text {
    font-size: 0.9em;
  }
  .hero-button {
    border-radius: 10px;
    width: 45%;
    padding: 0.9em 0.3em;
    margin-top: 32px;
    text-align: center;
  }
  p {
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin: 0 !important;
  }
}
.intro-section-container {
  background-color: white;
  padding-top: 8.33%;
  padding-right: 15%;
  padding-left: 15%;
  padding-bottom: 8.33%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(400px, auto);
  gap: 4rem;
}
.intro-section-container button {
  background: linear-gradient(93.66deg, #000000 -109.29%, rgba(46, 46, 46, 0.56) 298.88%);
  border-radius: 10px;
  color: white;
  width: 30%;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  border: none;
}
.intro-section-container h3 {
  font-weight: 300;
  font-size: 4rem;
}
.intro-section-container span {
  font-weight: 500;
}
.intro-section-container p {
  font-weight: 300;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.intro-top-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.intro-top-right {
  background-image: url(../../public/intro-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.intro-bottom-left .intro-coordinates-text {
  font-size: 2rem;
  padding: 0;
}
.intro-bottom-left .intro-coordinates {
  font-size: 2rem;
  font-weight: 500;
}

@media (max-width: 600px) {
  .intro-section-container {
    grid-template-columns: 1fr;
    gap: 3px;
    padding-top: 20%;
    padding-bottom: 20%;
  }
  .intro-section-container .intro-top-left {
    margin-bottom: 4rem;
  }
  .intro-section-container .intro-top-right {
    height: 300px;
  }
  .intro-section-container .intro-bottom-left {
    height: 300px;
    align-items: center;
    align-content: center;
  }
  .intro-section-container button {
    width: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 0.8rem;
  }
  .intro-section-container h3 {
    font-weight: 300;
    font-size: 2.5rem;
  }
  .intro-section-container span {
    font-weight: 500;
  }
  .intro-section-container p {
    font-weight: 300;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .intro-section-container .intro-coordinates-text {
    font-size: 1.5rem;
    padding: 0;
  }
  .intro-section-container .intro-coordinates {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
.quote-section-container {
  display: flex;
  flex-direction: column;
  background-image: url(../../public/quote-pic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 700px;
  max-height: auto;
  padding: 2rem 10rem 2rem 10rem;
  color: white;
  justify-content: center;
  align-items: center;
}
.quote-section-container h3 {
  font-size: 3rem;
  font-weight: 300;
  color: white;
  text-align: center;
}
.quote-section-container p {
  padding-top: 2rem;
  color: rgba(255, 255, 255, 0.66);
}

@media (max-width: 600px) {
  .quote-section-container {
    padding: 1rem 5rem 1rem 5rem;
  }
  .quote-section-container h3 {
    font-size: 1.6rem;
    font-weight: 300;
    color: white;
    text-align: center;
  }
  .quote-section-container p {
    padding-top: 2rem;
    color: rgba(255, 255, 255, 0.66);
  }
}/*# sourceMappingURL=index.css.map */